body {
    background-image: url(../images/imagen_fondo.png) !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
}

.img {
    padding: 2em;
    margin-bottom: 10px;
}

.row > div {
    text-align: center;
}

.label-portada{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
 }

.label-form{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

 .portada{
    background: url(../images/fondo_elementos.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-radius: 7px;
 }

 #boton {
    background: #0081FF;
    color:#fff;
    font-size: 30px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight:bold;
    outline:0px;

}

#boton:hover {
    cursor:pointer;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
